@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    .container {
        background-color: hsl(216, 50%, 16%);
        width: 90%;
        max-width: 350px;
        padding: 20px;
        border-radius: 10px;

        .imageContainer {
            position: relative;
            top: 0;
            left: 0;
            cursor: pointer;
            border-radius: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: hsl(178, 100%, 50%);

            .viewFirst {
                border-radius: 10px;
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 2;
            }
            .viewFirst:hover {
                z-index: 0;
                opacity: 0.5;
            }
            .viewHover {
                position: absolute;
                z-index: 1;
            }
        }

        .imageDescription {
            h1 {
                color: hsl(0, 0%, 100%);
                cursor: pointer;
            }
            h1:hover {
                color: hsl(178, 100%, 50%);
            }
            p {
                color: hsl(215, 51%, 70%);
            }
        }

        .otherInfo {
            display: flex;
            justify-content: space-between;

            .price {
                color: hsl(178, 100%, 50%);
            }

            .days {
                color: hsl(215, 51%, 70%);
            }

            span {
                vertical-align: text-top;
                margin-right: 5px;
            }
        }

        .hr {
            margin: 0 auto;
            height: 1px;
            width: 100%;
            background-color: hsl(215, 32%, 27%);
        }

        .creator {
            display: flex;
            align-items: center;
            margin-top: 10px;
            color: hsl(215, 51%, 70%);

            img {
                width: 30px;
                border-radius: 50%;
                border: 1px solid hsl(0, 0%, 100%);
                margin-right: 10px;
            }

            span {
                cursor: pointer;
                color: hsl(0, 0%, 100%);
            }
            span:hover {
                color: hsl(178, 100%, 50%);
            }
        }
    }

    .attribution {
        position: fixed;
        bottom: 10px;
        text-align: center;
        width: 90%;
        font-size: 11px;
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}
